/************************ DEFAULT *************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
html {
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}
@font-face {
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf')
}
/************************* NAVBAR STYLING *******************/
.largeCicle1 {
    width: 500px;
    height: 500px;
    clip-path: circle(50.1% at 80% 51%);
    background: rgba(43, 45, 60,0.2);
    position: absolute;
    right: 0%;
    top: 1800px;  
    z-index: -1;  
}
.mCircle1 {
    background: rgba(43, 45, 60,0.6);
    border-radius: 50%;
    position: absolute;
    width: 99px;
    height: 98px;
    right: 342px;
    top: 1950px; 
}
.sCircle1 {
    background: rgba(43, 45, 60,0.6);
    border-radius: 50%;
    position: absolute;
    width: 49px;
    height: 49px;
    right: 440px;
    top: 1970px; 
}
.largeCicle {
    width: 500px;
    height: 500px;
    background: rgba(43, 45, 60,0.1);
    border-radius: 50%;
    position: absolute;
    left: -177px;
    top: 380px;
}
.mCircle {
    background: rgba(43, 45, 60,0.5);
    border-radius: 50%;
    position: absolute;
    width: 99px;
    height: 98px;
    left: 270px;
    top: 625px;
}
.sCircle {
    background: rgba(43, 45, 60,0.5);
    border-radius: 50%;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 372px;
    top: 660px;
}
.largeCicle2 {
    width: 500px;
    height: 500px;
    background: rgba(43, 45, 60,0.1);
    border-radius: 50%;
    position: absolute;
    left: -277px;
    top: 2780px;
}
.mCircle2 {
    background: rgba(43, 45, 60,0.5);
    border-radius: 50%;
    position: absolute;
    width: 99px;
    height: 98px;
    left: 170px;
    top: 2925px;
}
.sCircle2 {
    background: rgba(43, 45, 60,0.5);
    border-radius: 50%;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 272px;
    top: 2920px;
}
.topnav {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0px;
}
.logo {
    width: 200px;
    margin-left: 134px;
    margin-top: 11px;
}
.logo img {
    margin-top: -10px;
}
.menuLink {
    width: 440px;
    margin-left: 230px;
    margin-top: 20px;
}
.menuLink ul li {
    height: 34px;
    display: inline-block;
    list-style: none;
}
.menuLink ul li:hover{
    border-bottom: 5px solid rgb(219, 68, 55);
    transition: 0.2s;
    cursor: pointer;
}
.menuLink ul li a {
    text-decoration: none;
    padding: 10px;
    color: rgb(43,45,60);
    font-family: edmerge;
    text-transform: capitalize;
    transition: 0.6ms;
    font-size: 16px;
}
.menuLink .trai {
    color: #DB4437;
}
.menuLink ul li a:hover{
    color: rgb(219, 68, 55);
    cursor: pointer;
}
li .active , a .active{
    border-bottom: 5px solid rgb(219, 68, 55);
    transition: 0.2s;
    cursor: pointer;
}
.btnGet {
    width: 166px;
    height: 50px;
    background-color: rgb(43,45,60);
    border: solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    margin-top: 9px;
    font-family: edmerge;
    border-radius: 10px;
}
.hide {
    width: 50px;
    height: 50px;
    background-color: rgb(43,45,60);
    border: solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    position: absolute;
    right: 50px;
    top: 7px;
    display: none;
    font-family: edmerge;
}
.facecover {
    width: 100%;
    height: 900px;
    background: rgba(43, 45, 60, 0.9);
    position: absolute;
    display: none;
}

/********************* WHAT WE STAND FOR *********************/
.stand {
    width: 80%;
    margin: auto;
}
.stand1 {
    margin-top: 180px;
    margin-bottom: 0px;
    position: relative;
    /* margin-top: 80px; */
}
.stand1 h3 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    line-height: 50px;
}
.stand1 p {
    text-align: center;
    padding-bottom: 150px;
    font-size: 18px;
    padding-left: 134px;
    padding-right: 134px;
    font-style: normal;
    line-height: 30px;
}

/*********************** OUR VISSION STYLING ***********************/

.vission {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}
.mission {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}
.mistext {
    height: 350px;
    margin: auto;
    width: 350px;
    margin-left : 134px;
}
.vistext {
    height: 350px;
    margin: auto;
    width: 350px;
    margin-right: 134px;
}
.mission h3 {
    font-size: 40px;
    font-weight: 600;
    color: black;
    font-style: normal;
    padding-bottom: 30px;
}
.vistext h3 {
    text-align: right;
    font-size: 40px;
    font-weight: 600;
    color: black;
    font-style: normal;
    padding-bottom: 30px;
}
.mission p {
    justify-content: center;
    line-height: 28px;
}
.vistext p {
    justify-content: right;
    text-align: right;
    line-height: 28px;
}
.misimg {
    width: 560px;
    height: 417px;
    margin: auto;
    margin-right: 134px;

}
.visimg {
    width: 560px;
    height: 417px;
    margin: auto;
    margin-left: 134px;

}
.visimg img {
    width: 430px;
    height: 417px;
    margin-right: 134px;
}
/* TRACK YOUR BENEFICIARY */
.track {
    display: flex;
}
.track .stand2 {
    width: 450px;
    height: 350px;
    margin-left: 134px;
    margin-right: 30px;
}
.stand2 h3 {
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.stand2 p {
    padding-bottom: 150px;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
}
.trackimg {
    width: 560px;
    height: 417px;
    margin-bottom: 130px;
}
.trackimg img {
    width: 430px;
    height: 417px;
    margin-left: 134px;
}


/*********************** TEAM SECTION STYLING ***********************/
.team {
    width: 75%;
    margin: auto;
}
.teamtext h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: black;
    padding-bottom: 70px;
}
.teamimg {
    display: flex;
    margin-bottom: 30px;
}
.img1 {
    margin: auto;
}
.imgag {
    margin-bottom: 0px;
}
.imgag img{
    width: 179px;
    height: 179px;
    transition: 1s;
}
.imgag img:hover {
    border-radius: 50%;
    transition: 1s;
    transform: scale(1.1);
}
.imgagtext h4 {
    font-size: 16px;
    font-weight: bolder;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.imgagtext p {
    padding-top: 0px;
}
.member {
    width: 60%;
    margin: auto;
    text-align: center;
}
.img2 {
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}

/* for four images starts here */
.break, .break1 {
    display: flex;
}
.break {
    margin-bottom: 0px;
}
.break1 {
    margin-top: 0px;
}
.img1 {
    margin-left: 50px;
}
.teamimg1 {
    display: flex;
    width: 75%;
    margin: auto;
    margin-bottom: 150px;
}
.img3  {
    margin-left: 50px;
}
/* for four images ends here */

.imgag1 {
    width: 400px;
    height: 400px;
    border: solid black 1px;
    transition: 1s;
}
.imgag1:hover {
    border-radius: 50%;
    transform: scale(1.1);
    transition: 1s;
}
.imgagtext {
    text-align: center;
}
.imgagtext p {
    padding-bottom: 0px;
    font-weight: 100px;
    font-size: 14px;
}
.imgagtext1 h4 {
    font-size: 30px;
    font-weight: 900;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}


/************************ OUR REACH ************************/
.raech{
    width: 80%;
    background-color: #2b2d3c;
}
.reach h3{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: black;
    padding-bottom: 30px;
}
.reach p {
    text-align: center;
}



/*======================= FOOTER STYLING ======================*/
.footer {
    width: 100%;
    height: 170px;
    background: #2B2D3C;
}
.footernav {
    display: flex;
    height: 65px;
    margin-bottom: 34px;
}
.footerlogo {
    margin-top: 15px;
    margin-left: 137px;
    margin-right: 100px;
    width: 100px;
}
.footertext ul {
    margin-top: 30px;
    width: 900px;
}
.footertext ul li {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #E6E8FA;
}
.footertext ul li a {
    text-decoration: none;
    color: #E6E8FA;
}
.footertext ul li:hover{
    color: white;
    cursor: pointer;
}
.footersnav {
    width: 100%;
    height: 60px;
    display: flex;
}
.social {
    width: 200px;
    height: 60px;
    margin-left: 480px;
}
.social svg {
    margin: auto;
    margin-left: 17px;
    margin-top: 12px;
}
.socialtext p {
    color: #E6E8FA;
    padding-top: 20px;
    margin-right: 150px;
}


/*===================== RESPONSIVE STYLING =====================*/
@media(max-width: 1250px){
    .menuLink {
        margin-left: 160px;
        padding-left: 0px;
    } 
    .footerlogo {
        margin-left: 60px;
        margin-right: 30px;
    }    
}
@media(max-width: 1100px){
    .logo {
        margin-left: 50px;
    }
    .menuLink {
        margin-left: 100px;
        margin-right: 50px;
        padding-left: 0px;
    } 
    .footerlogo {
        margin-left: 30px;
        margin-right: 10px;
    }
}
@media(max-width: 1050px){
    .menuLink {
        display: none;
    } 
    .btnGet {
        display: none;
    }
    .hide {
        display: block;
    }
    .showMenu {
        display: block;
    }
    .banner h3, .banner p {
        padding-left: 50px;
    }
    .btnCreate {
        margin-left: 50px;
    }
    .card {
        display: block;
        padding-top: 50px;
        margin: auto;
        margin-left: 75px;
    }
    .menuLink ul {
        transition: 2s;
        text-align: center;
    }
    .menuLink .trai {
        color: #DB4437;
    }
    .menuLink ul li{
        display: block;
        position: relative;
        top: 170px;
        right: 0px;
        padding: 30px;
        transition: 2s;
    }
    .menuLink ul li a{
        color: white;
        z-index: 1;
        position: relative;
        transition: 2s;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .largeCicle,
    .largeCicle1,
    .largeCicle2,
    .mCircle,
    .mCircle1,
    .mCircle2,
    .sCircle,
    .sCircle1,
    .sCircle2 {
        display: none;
    }
    /* NAVBAR STYLING ENDS HERE */

    .vission, .mission {
        display: block;
    }
    .stand {
        width: 100%;
    }
    .team {
        width: 100%;
    }
    .member {
        width: 100%;
    }

    .teamimg {
        display: block;
        margin: auto;
        margin-left: 20px;
      
    }
    .img1 {
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .img2 {
        margin-left: 0px;
        margin: auto;
        margin-bottom: 30px;
    }
    .imgagtext1 h3, .imgagtext1 p {
        text-align: center;
    }
    .stand, .vission, .mission {
        width: 100%;
    }
    .track {
        display: block;
    }
    .stand1 p {
        padding: 0%;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 30px;
        padding-bottom: 50px;
    }
    .teamimg1 {
        margin-left: 0px;
    }
    .teamimg1 {
        display: block;
    }
    .misimg, .mistext, .visimg, .vistext {
        margin: auto;
        margin: 0px;
        margin-left: 50px;
    }
    .misimg, .visimg {
        width: 400px;
    }

    .track .stand2 {
        width: 450px;
        height: 350px;
        margin-left: 13px;
    }
    .trackimg {
        width: 450px;
        margin: auto;
        margin-bottom: 50px;
    }
    .misimg img, .visimg img, .trackimg img {
        width: 435px;
    }







        /* FOOTER MOBILE RESPONSIVE */
        .footer {
            background-color: #2b2d3c;
            height: auto;
    
        }
        .footernav {
            display: block;
            height: auto;
        }
        .footertext ul li {
            display: block;
            text-align: center;
        }
        .footerlogo {
            margin-top: 15px;
            margin-left: 0px;
            margin-right: 0px;
            margin: auto;
        }
        .footertext ul {
            width: 200px;
            margin: auto;
        }
        .social {
            margin: auto;
            margin-left: 0px;
        }
        .socialtext p {
            color: #E6E8FA;
            padding-top: 20px;
            margin-right: 0px;
            margin: auto;
        }
    
   
} 

@media (max-width: 750px) {
    .hide {
        top: 20px;
        right: 50px;
        bottom: 100px;
    }
    .logo img {
        width: 150px;
        margin-left: 0px;
    }
    .footersnav {
        display: block;
        height: auto;
    }
    .social {
        margin-left: 70px;
    }
    .socialtext {
        text-align: center;
        padding-bottom: 20px;
    }
    .menuLink ul li a{
        color: white;
        text-align: none;
        z-index: 1;
        position: relative;
        transition: 2s;
        top: 50px;
        right: 200px;
        font-size: 14px;
        padding-bottom: 0px;
        width: auto;
    }
    .misimg img, .visimg img, .trackimg img {
        width: 300px;
        height: 300px;
        margin: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    .vistext p, .vistext h3 {
        text-align: left;
    }
    .trackimg img {
        margin: auto;
        width: 300px;
        margin-left: 45px;
    }
    .track .stand2 {
        width: 350px;
        margin-bottom: 150px;
        margin-left: 45px;
    }
    .stand2 p {
        font-size: 16px;
    }
    .teamimg {
        margin: auto;
        margin-left: 18px;
        margin-right: 0px;
    }
    .teamimg1 {
        margin: auto;
        margin: 0px;
        margin-left: 50px;
    }
    .img3 {
        margin-bottom: 20px;
        justify-content: center;
    }
    .container {
        width: 100%;
    }
    .topnav {
        width: 100%;
    }
    .teamimg {
        margin: 0px;
        margin: auto;
    }
    .imgagtext {
        text-align: left;
    }
    .imgag {
        width: auto;
        height: auto;
    }
    
}