*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
@font-face{
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf');
    
}
.bar{
height: 311px;
width: 100%;
background-color: #2B2D3C;
position: absolute;

}
#circle{
    clip-path: circle(50% at 100% 73%);
    position: absolute;
    width: 459px;
    height: 455px;
    right: 0%;
    top: 700.56px;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    z-index: -1;
    opacity: 0.5;
}
.form{
    height: 550px;
    width: 478px;
    margin: auto;
    /* margin-left: 550px; */
    position: relative;
    top: 250px;
    background-color: #E6E8FA;

}
.icon{
    text-align: center;
    padding-top: 80px;
}
h2{
    text-align: center;
    padding-top: 20px;
    color: #2B2D3C;

}
h3{
    text-align: center;
    padding-top: 20px;
    color: #2B2D3C;
    padding: 20px;

}
input{
    margin-left: 60px;
    margin-top: 20px;
    width: 363px;
    height: 47px;
    /* border-radius: 10px; */
    outline: none;
    border-radius: 5px;
    font-family: edmerge;
    background-color:  #E6E8FA;
    border: solid 1px;
    
}
button{
    margin-left: 115px;
    margin-top: 20px;
    width: 262px;
    height: 58px;
    outline: none;
    border-style: none;
    background:  #2B2D3C;
    color: #E6E8FA;
    
    border-radius: 10px;
    
}
button:hover{
    cursor: pointer;
}
.link{
    text-decoration: none;
    padding: 20px;
    color: #2B2D3C;
}
.blogin{
   display: flex;
   margin-left: 180px;
   padding-top: 20px;
   padding: 20px;
}

@media (max-width: 700px) {
    .bar{
        width: 100%;
    }
    .form {
        width: 50%;
        margin: auto;
    }
    .icon img {
        width: 50%;
        height: 50%;
    }
    .form h2 {
        font-size: 16px;
    }
    .form h3 {
        font-size: 14px;
    }
    input {
        width: 150px;
        margin: auto;
        margin-left: 20px;
    }
    button {
        width: 150px;
        margin: auto;
        margin: 20px;
    }
    .blogin {
        margin: auto;
        /* margin-left: 20px; */
    }
    a {
        font-size: 12px;
    }
    .link {
        padding-left: 5px;
    }

}
