/* DEFAULT STYLING */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
button {
    cursor: pointer;
    border-radius: 12px;
}
input {
    outline: none;
    border-color: inherit;
}
@font-face {
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf');
}
.content {
    padding-top: 35px;
    margin-left: 10px;
    border: solid pink;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    /* border: solid red; */
}

/* NAVBAR STYLING */
.lcircle {
    width: 550px;
    height: 550px;
    left: -181px;
    top: 166.84px;
    border-radius: 50%;
    position: absolute;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.mcircle {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 294.55px;
    top: 455.53px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.scircle {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 404.64px;
    top: 483.55px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: 2;
}
.lcircle1 {
    clip-path: circle(50% at 100% 73%);
    position: absolute;
    width: 459px;
    height: 455px;
    right: 0%;
    /* left: 814.02px; */
    top: 700.56px;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    z-index: -1;
    opacity: 0.5;
}
.mcircle1 {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 1000.22px;
    top: 962.68px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;

}
.scircle1 {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 950.43px;
    top: 984.82px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.navbar {
    width: 26.8%;
    /* width: 250px; */
    height: 1000px;
    /* border: solid yellow; */
}
.menulink {
    width: 216px;
    height: 100vh;
    background-color: #2b2d3c;
    margin-left: 130px;
    position: fixed;
}
.logo {
    text-align: center;
}
.logo img {
    margin-top: 10px;
}
.menulink .up {
    margin-top: 30px;
    margin-bottom: 200px;
}
.menulink ul li {
    text-align: right;
    list-style: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menulink ul li:hover {
    background: #E6E8FA;
    color: black;
}
.menulink ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menulink ul li a:hover {
    background: #E6E8FA;
    color: black;
}
.up img, .down img {
    text-align: left;
    margin-right: 20px;
}

/* BAR AND TRAINING DASHBOARD STYLING */
.body{
    width: 73.2%;
    /* width: 910px; */
    margin-left: 120px;
}
.Nbar{
    width: 98%;
    margin-left: 2%;
    height: 159px;
    background: rgba(43, 45, 60, 0.3);
    /* margin-left: 346px; */
    /* border: solid blue 3px; */
}
.trainingDash{
    display: flex;
    margin: auto;
    margin-top: 25px;
    margin-left: 50px;
    padding: 10px
     
    
  
    
}

.img1{
    width: 406px;
    height: 234px;
    background-color: #E6E8FA;
    display: flex;
    margin-right: 40px;
    /* padding: 5px; */
    margin-left: 80px;
}
.img2{
    width: 406px;
    height: 234px;
    background-color: #E6E8FA;
    display: flex;
    margin-right: 70px;
    /* padding: 5px; */
}
#imgdash img {
    margin: 24px 9px 23px 22px;
}
#words {
    margin-top: 24px;
}
.color2{
color:#2B2D3C;
;
}
.color1{
    color: #DB4437;
    padding-top: 10px;

}
p{
    padding-top: 10px;
}
h4{
    margin-bottom: 15px;
}
h5, h6{
    padding-top: 10px;
}
.dash1{
    width: 335px;
    height: 193px;
 
    background: #E6E8FA;
    margin-left: 20px;
}

.bar{
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
}

.blackbar{
    width: 146px;
    height: 17px;
    border: solid 1px;
    background-color: #2b2d3c;
}

.dash h5{
    padding-left: 30px;
    padding-top: 15px;
}

.dash p{
    padding-left: 30px;
    padding-top: 10px;
    font-size: 12.5px;
}

.whitebar{
    width: 105px;
    height: 17px;
    
    background-color: white;
}

.bar1{
    padding-left: 30px;
    padding-top: 10px;
}

.blackbar_1{
    width: 251px;
    height: 17px;
   
    background-color: #DB4437;
    /* margin-left: 50px; */

}
.bar3{
    width: 251px;
    height: 17px;

    background-color: black;
    margin-left: 30px;
    margin-top: 10px;
}

.dash1 h5{
    padding-left: 30px;
    padding-top: 15px;
}

.dash1 p{
    padding-left: 30px;
    padding-top: 10px;
    font-size: 12.5px;
}
.big-img{
    position: absolute;
}
.small-img{
    position: absolute;
    float: right;
    margin-left: 700px;
}
.Nbar{
    background-image: url('../images/s-img.png');
    /* position: fixed; */
}
#faint{
    width: 100%;
    height: 159px;
    background-color: rgba(0, 0, 0, 0.5);
}
.flex{
    display: flex;
    padding-top: 20px;
}
.flex p {
    margin-top: 0px;
}
.searchbar{
    height: 44px;
    width: 340px;
    position: relative;
    right: -160px;
    top: 60px;
    border-radius: 10px;
}
.word{
    margin-left: 750px;
    margin-top: 15px;
    color: white
}
#lcircle {
    width: 750px;
    height: 250px;
   
    border-radius: 100%;
    position: relative;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
    
    z-index: 2px;
    border: solid 1px;
    
}
#Navtex{
    width: 217px;
    height: 60px;
    background-color: white;
    color: black;
   

}
.navtexsep{
    color: black;
}











@media (max-width: 1150px){
    body {
        background-color: red;
    }
    .container {
        margin: 0px;
        width: 100%;
    }
    .searchbar {
        margin-right: 0px;
    }
    .flex img {
        margin-left: 600px;
    }
    .flex p {
        margin-left: 650px;
    }
    
    .pimg {
        margin-right: 25px;
    }
    #imgdash img {
        width: 100px;
    }
}
@media (max-width: 1000px){
    body {
        background-color: green;
    }
    .trainingDash {
        width: 100%;
        display: block;
        margin: auto;
    }
    .searchbar {
        width: 200px;
        margin-left: -70px;
    }
    .flex img {
        margin-left: 350px;
    }
    .flex p {
        margin-left: 400px;
    }
    .img1 {
        margin: auto;
        margin-bottom: 20px;
    }
    .img2 {
        margin: auto;
    }
    .lcircle,
    .mcircle,
    .scircle,
    .lcircle1,
    .mcircle1,
    .scircle1 {
        display: none;
    }
    .menulink {
        margin-left: 100px;
    }
    #imgdash img {
        width: 150px;
    }
    
}
@media (max-width: 800px){
    body {
        background-color: yellow;
    }
    .menulink {
        width: 100px;
        margin-left: 0px;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    .searchbar {
        width: 200px;
        margin-left: -120px;
    }
    .flex img {
        margin-left: 280px;
    }
    .flex p {
        display: none;    
    }
    .navtex {
        display: none;
    }
   .img2, .img1 {
       width: 350px;
   }
}
@media(max-width: 550px){
    .img2, .img1 {
        display: block;
        height: auto;
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
    }
    .body {
        margin-left: 0px;
    }
    .searchbar {
        width: 150px;
        margin-left: -150px;
    }
    .flex img {
        margin-left: 180px;
    }
    .img2 h4, .img1 h4,
    .img2 h5, .img1 h5,
    .img2 h6, .img1 h6 {
        padding-left: 20px;
    }
    .trainingDash {
        margin-left: 0px;
    }
    .Nbar {
        width: auto;
    }

}