/************************ DEFAULT *************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
html {
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}
@font-face {
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf')
}
/************************* NAVBAR STYLING *******************/
.topnav {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0px;
}
.logo {
    width: 200px;
    margin-left: 134px;
    margin-top: 11px;
}
.logo img {
    margin-top: -10px;
}
.menuLink {
    width: 440px;
    margin-left: 230px;
    margin-top: 20px;
}
.menuLink ul li {
    height: 34px;
    display: inline-block;
    list-style: none;
}
.menuLink ul li:hover{
    border-bottom: 5px solid rgb(219, 68, 55);
    transition: 0.2s;
    cursor: pointer;
}
li .active , a .active{
    border-bottom: 5px solid rgb(219, 68, 55);
    transition: 0.2s;
    cursor: pointer;
}
.menuLink ul li a {
    text-decoration: none;
    padding: 10px;
    color: rgb(43,45,60);
    font-family: edmerge;
    text-transform: capitalize;
    transition: 0.6ms;
    font-size: 16px;
}
.menuLink .trai {
    color: #DB4437;
}
.menuLink ul li a:hover{
    color: rgb(219, 68, 55);
    cursor: pointer;
}

.btnGet {
    width: 166px;
    height: 50px;
    background-color: rgb(43,45,60);
    border: solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    margin-top: 9px;
    font-family: edmerge;
    border-radius: 10px;
}
.hide {
    width: 50px;
    height: 50px;
    background-color: rgb(43,45,60);
    border: solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    position: absolute;
    right: 50px;
    top: 7px;
    display: none;
    font-family: edmerge;
}
.facecover {
    width: 100%;
    height: 900px;
    background: rgba(43, 45, 60, 0.9);
    position: absolute;
    display: none;
}
/* HOW CAN WE HELP STYLING */
.how {
    width: 100%;
    height: 365px;
    background: url('../images/homeImg/faqimg.png');
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    z-index: -1;
}
.coverfaq {
    width: 100%;
    height: 365px;
    background: #E6E8FA;
    opacity: 0.8;
    position: absolute;
    top: 200px;
    z-index: 1;
}
.how h3 {
    font-size: 40px;
    font-weight: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}
.how p {
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: 600px;
    position: relative;
    z-index: 2;
}

/* FAQ */

.faqbox {
    margin: auto;
    width: 100%;
    margin-bottom: 300px;
}
.faqcontent {
    width: 870px;
    height: 120px;
    background-color: #2b2d3c;
    color: white;
    margin: auto;
    display: flex;
    border: 3px solid #e6e8fa;
    box-sizing: border-box;
    border-bottom: none;
}
.faqtext p {
    width: 800px;
    font-size: 20px;
    padding-top: 40px;
    line-height: 50px;
    padding-left: 35px;
}
.faqans p {
    font-size: 16px;
    padding-top: 24px;
    line-height: 34px;
    padding-left: 35px;
}
.faqbtn {
    width: 70px;
    margin: auto;
}
.btnfaq {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 0px;
    background-color: #2b2d3c;
    border: 0px;
    outline: none;
}
.faqans {
    margin: auto;
    width: 870px;
    height: 140px;
    background-color: #E6E8FA;
    opacity: 0.9;
    border: 3px solid #e6e8fa;
    box-sizing: border-box;
    border-top: none;
    margin-bottom: 20px;
}
.largeCicle {
    width: 500px;
    height: 500px;
    background: rgba(43, 45, 60,0.1);
    border-radius: 50%;
    position: absolute;
    left: -351px;
    top: 380px;
}
.mCircle {
    background: rgba(43, 45, 60,0.5);
    border-radius: 50%;
    position: absolute;
    width: 99px;
    height: 98px;
    left: 120px;
    top: 625px;
}
.sCircle {
    background: rgba(43, 45, 60,0.5);
    border-radius: 50%;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 212px;
    top: 660px;
}
.largeCicle1 {
    width: 500px;
    height: 500px;
    clip-path: circle(50.1% at 98% 51%);
    background: rgba(43, 45, 60,0.2);
    position: absolute;
    right: 0%;
    top: 1700px;  
    z-index: -1;  
}
.mCircle1 {
    background: rgba(43, 45, 60,0.6);
    border-radius: 50%;
    position: absolute;
    width: 99px;
    height: 98px;
    right: 242px;
    top: 1900px; 
}
.sCircle1 {
    background: rgba(43, 45, 60,0.6);
    border-radius: 50%;
    position: absolute;
    width: 49px;
    height: 49px;
    right: 335px;
    top: 1930px; 
}

/*======================= FOOTER STYLING ======================*/
.footer {
    width: 100%;
    height: 170px;
    background: #2B2D3C;
}
.footernav {
    display: flex;
    height: 65px;
    margin-bottom: 34px;
}
.footerlogo {
    margin-top: 15px;
    margin-left: 137px;
    margin-right: 100px;
    width: 100px;
}
.footertext ul {
    margin: auto;
    margin-top: 30px;
    width: 900px;
}
.footertext ul li {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #E6E8FA;
}
.footertext ul li:hover{
    color: white;
    cursor: pointer;
}
.footertext ul li a {
    text-decoration: none;
    color: #E6E8FA;
}
.footersnav {
    width: 100%;
    height: 60px;
    display: flex;
}
.social {
    width: 200px;
    height: 60px;
    margin-left: 480px;
}
.social svg {
    margin: auto;
    margin-left: 17px;
    margin-top: 12px;
}
.socialtext p {
    color: #E6E8FA;
    padding-top: 20px;
    margin: auto;
    margin-right: 150px;
}





/*===================== RESPONSIVE STYLING =====================*/
@media(max-width: 1250px){
    .menuLink {
        margin-left: 160px;
        padding-left: 0px;
    } 
    .footerlogo {
        margin-left: 60px;
        margin-right: 30px;
    }
    .largeCicle1 {
        display: none;
    }      
}
@media(max-width: 1100px){
    .logo {
        margin-left: 50px;
    }
    .menuLink {
        margin-left: 100px;
        margin-right: 50px;
        padding-left: 0px;
    } 
    .footerlogo {
        margin-left: 30px;
        margin-right: 10px;
    }
}
@media(max-width: 1050px){
     .how p, .how h3{
        z-index: 1;
    }
    .facecover {
        z-index: 2;
    }
    .menuLink {
        display: none;
    } 
    .btnGet {
        display: none;
    }
    .hide {
        display: block;
        z-index: 2;
    }
    .showMenu {
        display: block;
        z-index: 2;
    }
    .banner h3, .banner p {
        padding-left: 50px;
    }
    .btnCreate {
        margin-left: 50px;
    }
    .card {
        display: block;
        padding-top: 50px;
        margin: auto;
        margin-left: 75px;
    }
    .menuLink ul {
        transition: 2s;
        text-align: center;
    }
    .menuLink ul li{
        display: block;
        position: relative;
        top: 170px;
        right: 0px;
        padding: 30px;
        transition: 2s;
    }
    .menuLink ul li a{
        color: white;
        z-index: 1;
        position: relative;
        transition: 2s;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .faqcontent {
        width: 450px;
    }
    .faqtext p {
        width: 400px;
        font-size: 14px;
        padding-left: 20px;
    }
    .faqans {
        width: 450px;
    }
 
    .faqans p {
        font-size: 12px;
    }
    .btnfaq {
        width: 40px;
    }

        /* FOOTER MOBILE RESPONSIVE */
        .footer {
            background-color: #2b2d3c;
            height: auto;
    
            /* height: auto; */
        }
        .footernav {
            display: block;
            height: auto;
        }
        .footertext ul li {
            display: block;
            text-align: center;
        }
        .footerlogo {
            margin-top: 15px;
            margin-left: 0px;
            margin-right: 0px;
            margin: auto;
        }
        .footertext ul {
            width: 200px;
            margin: auto;
        }
        .social {
            margin: auto;
            margin-left: 0px;
        }
        .socialtext p {
            color: #E6E8FA;
            padding-top: 20px;
            margin-right: 0px;
            margin: auto;
        }
}


@media (max-width: 550px) {
    .hide {
        top: 20px;
        right: 50px;
        bottom: 100px;
    }
    .logo img {
        width: 150px;
        margin-left: 0px;
    }
    .footersnav {
        display: block;
        height: auto;
    }
    .social {
        margin-left: 70px;
    }
    .socialtext {
        text-align: center;
        padding-bottom: 20px;
    }
    .menuLink ul li a{
        color: white;
        text-align: none;
        z-index: 1;
        position: relative;
        transition: 2s;
        top: 50px;
        right: 200px;
        font-size: 14px;
        padding-bottom: 0px;
        width: auto;
    }
    .how h3 {
        font-size: 30px;
    }
    .how img {
        width: 50px;
        height: 50px;
    }
    .faqcontent, .faqans {
        width: 400px;
    }
    .faqbtn{
        margin-left: 0px;
    }
    .faqtext p, .faqans p {
        width: 350px;
        font-size: 12px;
    }
}