@font-face{
    font-family: edmerge;
    src: url(../montserrat/Montserrat-Regular.ttf);
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin: auto;
    /* margin-top: 50px; */
}

.loginImg{
    width: 50%;
    height: 800px;
    background: url("../images/signuplogo/sign\ in2.png");
}

.cover {
    width: 50%;
    height: 800px;
    background: #2B2D3C;
    opacity: 0.5;
    position: absolute;
}

.largeCircle {
    clip-path: circle(41.6% at 50% 100%);
    width: 300px;
    height: 300px;
    background: rgba(43, 45, 60, 0.5);
    opacity: 0.5;
    border-radius: 10%;
    position: absolute;
    right: 430px;
    top: 500px;
}    

.mCircle {
    background: rgba(43, 45, 60,0.5);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    width: 68px;
    height: 68px;
    left: 750px;
    top: 727px;
}
.sCircle {
    background: rgba(43, 45, 60,0.5);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 810px;
    top: 715px;
}

.largeCircle_1{
    clip-path: circle(45.8% at 100% 25%);
    width: 200px;
    height: 200px;
    background: rgba(43, 45, 60, 0.5);
    opacity: 0.5;
    border-radius: 0%;
    position: absolute;
    right: 0px;
}    

.mCircle_1 {
    background: rgba(43, 45, 60,0.5);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    width: 68px;
    height: 68px;
    right: 35px;
    top: 75px;
}
.sCircle_1{
    background: rgba(43, 45, 60,0.5);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 105px;
    top: 100px;
}

.form{
    width: 50%;
    height: 800px;
    border: solid #E5E5E5 1px;
}

.logo{
    width: 213px;
    height: 51px;
    margin: auto;
    margin-top: 100px;
}

.pic{
    height: 100%;
    width: 100%;
}

.form_txt{
    height: 900px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    
}

.form_txt p{
    text-align: center;
    margin-top: 30px;
    font-family: edmerge;
    font-weight: 300;
}

.para{
    text-align: center;
    margin-top: 10px;
    font-family: edmerge;
    font-size: 14px;
}

.form input{
    display: block;
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
    outline: none;
    padding-left: 15px;
    font-family: edmerge;
}


.btn{
    width: 350px;
    height: 50px;
    margin: auto;
    margin-left: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background:  #2B2D3C;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-family: edmerge;
}

.java .passbtn, .java1 .passbtn1{
    width: 300px;
    margin: 0px;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.java, .java1{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-left: 25px;
}

.java button, .java1 button {
    width: 50px;
    height: 40px;
    border-left: none;
    outline: none;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background: #fff;
    cursor: pointer;
}

.java input{
    display: block;
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
    outline: none;
    padding-left: 15px;
    font-family: edmerge;
}

.btn:hover{
    background-color: #DB4437;
}

.check{
    display: flex;
}

.check .box{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 5px;
    
}

.paraOne{
    margin-left: 15px;
    font-family: edmerge;
    font-size: 14px;
    line-height: 18px;
}

.policy{
    text-align: center;
    font-family: edmerge;
    font-size: 14px;
}

.term{
    text-align: center;
    font-family: edmerge;
    font-size: 14px;
}

#termOne{
    margin-top: 20px;
}
#termOne a{
    text-decoration: none;
    color: #DB4437;
}

#termOne a:hover{
    color: red;
}

.term p{
    margin-top: 15px;
    font-family: edmerge;
    font-size: 14px;
}
.term p a{
    text-decoration: none;
    color: #DB4437;
}

.term p a:hover{
    color: red;
}

/* END OF CSS FOR SIGN UP */
.jogin {
    width: 100%;
}
.logooImg {
    width: 50%;

}

.logoo{
    width: 213px;
    height: 51px;
    margin: auto;
    margin-top: 100px;
}

.form1{
    width: 50%;
    height: 800px;
    border: solid #E5E5E5 1px;
}

.login{
    height: 600px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}    


.login h1{
    text-align: center;
    margin-top: 30px;
    font-family: edmerge;
}

.graph{
    text-align: center;
    margin-top: 10px;
    font-family: edmerge;
    font-size: 12px;
}

.info input{
    display: block;
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
    outline: none;
    padding-left: 15px;
    font-family: edmerge;
}

.checkbox{
    display: flex;
}

.checkbox .boxx{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 25px;
}

.checkbox p{
    margin-top: 15px;
    font-family: edmerge;
}

.checkbox .par{
    margin-right: 90px;
    font-size: 14px;
}

.checkbox .paa{
    margin-top: 15px;
    margin-right: 30px;
    font-size: 14px;
}


.checkbox a{
    text-decoration: none;
    color: #DB4437;
}

.checkbox a:hover{
    color: red;
}

.btn1{
    width: 350px;
    height: 50px;
    margin: auto;
    margin-left: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background:  #2B2D3C;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-family: edmerge;
}

.btn1:hover{
    background-color: #DB4437;
}

.sign p{
    text-align: center;
    margin-top: 15px;
    font-family: edmerge;
}

.sign a{
    text-decoration: none;
    color: #DB4437;
}

.sign a:hover{
    color: red;
}
@media(max-width: 1100px){
    .container {
        margin: 0px;
    }
}
@media(max-width: 850px){
    .loginImg {
        display: none;
    }
    .logooImg {
        display: none;
    }
    .container {
        margin: 0px;
        margin-left: 50px;
    }
    .largeCircle,
    .largeCircle_1,
    .mCircle,
    .mCircle_1,
    .sCircle,
    .sCircle_1 {
        display: none;
    }

}
@media(max-width:550px){
  .form {
      width: 100%;
    } 
  .form_input input {
    width: 250px;
    }
  .btn {
      width: 250px;
      margin-left: 70px;
    } 
    .loginImg img{
        margin-left: 70px;
        display: none;
    }
}

