@font-face{
    font-family: montserrat;
    src: url(../montserrat/Montserrat-Regular.ttf);
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    width: 300px;
    height: 75px;
    position: absolute;
    top: 60px;
    left: 350px;
    /* border: solid; */
}

.logo img{
    width: 100%;
    height: 100%;
}

form{
    display: flex;
}


.form_img{
    background-color: blue;
    height: 600px;
    width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    margin-top: 210px;
    margin-left: 5px;
    
}

.form_img #pic{
    width: 100px;
    height: 100px;
}

.form_txt{
    height: 600px;
    width: 500px;
    border: solid #E5E5E5 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
    margin-top: 210px;
    margin-bottom: 70px;
    
}

.form_txt h2{
    text-align: center;
    margin-top: 30px;
    font-family: montserrat;
}

.para{
    text-align: center;
    margin-top: 10px;
    font-family: montserrat;
    font-size: 12px;
}
 
.form input{
    display: block;
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    /* margin-left: 20px; */
    outline: none;
    padding-left: 15px;
    font-family: montserrat;
}


.btn{
    width: 350px;
    height: 40px;
    margin: auto;
    margin-left: 75px;
    margin-top: 20px;
    border: none;
    background: #000000;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-family: montserrat;
}

.btn:hover{
    background-color: #DB4437;
}

.check #box{
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 30px;
    margin-left: 75px;
}

/* .check #box p{
    border: solid blue 2px;
} */

.paraOne{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    font-family: montserrat;
    font-size: 11px;

}

.term{
    text-align: center;
    font-family: montserrat;
    font-size: 10px;
}

#termOne{
    margin-top: 99px;
    /* border: solid; */
}
#termOne a{
    text-decoration: none;
    color: #2B2D3C;
}

#termOne a:hover{
    color: #DB4437;
}

.term h4{
    margin-top: 15px;
    font-family: montserrat;
}
.term h4 a{
    text-decoration: none;
    color: #2B2D3C;
}

.term h4 a:hover{
    color: #DB4437;
}

/* End of css for sign up */

.login h2{
    text-align: center;
    margin-top: 30px;
    font-family: montserrat;
}

.graph{
    text-align: center;
    margin-top: 10px;
    font-family: montserrat;
    font-size: 12px;
}

.form_input01{
    display: block;
    width: 350px;
    height: 40px;
    margin: auto;
    /* margin-top: 15px;
    outline: none;
    padding-left: 15px;
    font-family: montserrat; */ */
}
 

/* @media(max-width: 700px){
    .logo{
        width: 300px;
        height: 130px;
        position: absolute;
        
        /* margin-right: 150px; */
    }
}