@font-face{
    font-family: montserrat;
    src: url(../montserrat/Montserrat-Regular.ttf);
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 600px;
    width: 500px;
    border: solid #E5E5E5 1px;
    margin: auto;
    margin-top: 50px;

}

.logo{
    width: 300px;
    height: 75px;
    margin: auto;
    margin-top: 100px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.form_txt{
    height: 600px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    
}

.form_txt h2{
    text-align: center;
    margin-top: 30px;
    font-family: montserrat;
}

.para{
    text-align: center;
    margin-top: 10px;
    font-family: montserrat;
    font-size: 12px;
}
 
.form input{
    display: block;
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
    outline: none;
    padding-left: 15px;
    font-family: montserrat;
}


.btn{
    width: 350px;
    height: 50px;
    margin: auto;
    margin-left: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background:  #2B2D3C;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-family: montserrat;
}

.btn:hover{
    background-color: #DB4437;
}

.check #box{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 30px;
    margin-left: 25px;
}

.paraOne{
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    font-family: montserrat;
    font-size: 14px;
    line-height: 18px;

}
.policy{
    text-align: center;
    font-family: montserrat;
    font-size: 12.5px;
}

.term{
    text-align: center;
    font-family: montserrat;
    font-size: 14px;
}

#termOne{
    margin-top: 80px;
    /* border: solid; */
}
#termOne a{
    text-decoration: none;
    color: #DB4437;
}

#termOne a:hover{
    color: red;
}

.term h4{
    margin-top: 15px;
    font-family: montserrat;
}
.term h4 a{
    text-decoration: none;
    color: #DB4437;
}

.term h4 a:hover{
    color: red;
}

/* End of css for sign up */

.logoo{
    width: 300px;
    height: 75px;
    margin: auto;
    margin-top: 100px;
}

.logoo img{
    width: 100%;
    height: 100%;
}

.login{
    height: 600px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}    


.login h2{
    text-align: center;
    margin-top: 30px;
    font-family: montserrat;
}

.graph{
    text-align: center;
    margin-top: 10px;
    font-family: montserrat;
    font-size: 12px;
}

.info input{
    display: block;
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
    outline: none;
    padding-left: 15px;
    font-family: montserrat;
}

.checkbox{
    display: flex;
}

.checkbox p{
    margin: auto;
    margin-top: 15px;
    font-family: montserrat;
}

.checkbox #paa{
    margin-top: 18px;
}

.checkbox #boxx{
    width: 20px;
    height: 20px;
}

.checkbox a{
    text-decoration: none;
    color: #DB4437;
}

.checkbox a:hover{
    color: red;
}

.btn1{
    width: 350px;
    height: 50px;
    margin: auto;
    margin-left: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background:  #2B2D3C;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-family: montserrat;
}

.btn1:hover{
    background-color: #DB4437;
}

.sign p{
    text-align: center;
    margin-top: 15px;
    font-family: montserrat;
}

.sign a{
    text-decoration: none;
    color: #DB4437;
}

.sign a:hover{
    color: red;
}

