/************************ DEFAULT *************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
html {
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}
@font-face {
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf')
}
/************************* NAVBAR STYLING *******************/
.topnav {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    background-color: white;
    display: flex;
}
.logo {
    width: 200px;
    margin-left: 134px;
    margin-top: 11px;
}
.menuLink {
    width: 440px;
    margin-left: 230px;
    margin-top: 20px;
}
.menuLink ul li {
    height: 40px;
    display: inline-block;
    list-style: none;
}
.menuLink ul li:hover{
    border-bottom: 5px solid rgb(219, 68, 55);
    transition: 1s;
    cursor: pointer;
}
.menuLink ul li a {
    text-decoration: none;
    padding: 10px;
    color: rgb(43,45,60);
    font-family: edmerge;
    text-transform: capitalize;
    transition: 0.6ms;
    font-size: 16px;
}
.menuLink ul li:nth-child(4) {
    color: #DB4437;
}
.menuLink ul li a:hover{
    color: rgb(219, 68, 55);
    cursor: pointer;
}
li .active , a .active{
    border-bottom: 5px solid rgb(219, 68, 55);
    transition: 1s;
    cursor: pointer;
}
.btnGet {
    width: 166px;
    height: 50px;
    background-color: rgb(43,45,60);
    border: solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    margin-top: 9px;
    font-family: edmerge;
    border-radius: 10px;
}
.hide {
    width: 50px;
    height: 50px;
    background-color: rgb(43,45,60);
    border: solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    position: absolute;
    right: 50px;
    top: 7px;
    display: none;
    font-family: edmerge;
}
.facecover {
    width: 100%;
    height: 900px;
    background: rgba(43, 45, 60, 0.9);
    position: absolute;
    display: none;
}

/* ===========PRIVACY POLICY STYLING BEGINGS HERE=========== */
.imgbar{
    background-image: url('../images/navbar.png');
    height: 333px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.faint{
    width: 100%;
    height: 333px;
    background-color: #2b2d3c;
    opacity: 50%;
    /* background-repeat: no-repeat; */
}

.words{
    text-align: center;
    padding-top: 290px;
    color: #ffffff;
    font-family: edmerge;

}

.lcircle{
    clip-path: circle(38.3% at 0 14%);
    position: absolute;
    width: 350px;
    height: 350px;
    left: 0;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    z-index: -1;
    opacity: 0.5;
}
.mcircle{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 80px;
    top: 450px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    opacity: 0.5;


}
.scircle{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 164px;
    top: 480px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    opacity: 0.5;
}
.dlcircle{
    clip-path: circle(49.7% at 96% 50%);
    position: absolute;
    width: 350px;
    height: 350px;
    right: 0px;
    top: 1550px;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    z-index: -1;
    opacity: 0.5;
}
.dmcircle{
    position: absolute;
    width: 99px;
    height: 98px;
    right: 120px;
    top: 1650px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.dscircle{
    position: absolute;
    width: 49px;
    height: 49px;
    right: 215px;
    top: 1640px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.text{
    width: 700px;
    height: 1320px;
    margin: auto;
    margin-top: 50px;
    color: #2B2D3C;
    font-size: 15.5px;
    line-height: 30px;
    /* border: solid 1px; */
}

.personal{
    font-size:x-large;
    margin-top: 30px;
}

.para_2{
    margin-top: 30px;
}

/*======================= FOOTER STYLING ======================*/
.footer {
    margin-top: 150px;
    width: 100%;
    height: 290px;
    background: #2B2D3C;
}
.footernav {
    display: flex;
    height: 65px;
    margin-bottom: 34px;
}
.footerlogo {
    margin-top: 70px;
    margin-left: 137px;
    margin-right: 100px;
    width: 100px;
}
.footertext ul {
    margin-top: 105px;
    width: 900px;
}
.footertext ul li {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #E6E8FA;
}
.footertext ul li a {
    text-decoration: none;
    color: #E6E8FA;
}
.footertext ul li:hover{
    color: white;
    cursor: pointer;
}
.footersnav {
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 140px;
}
.social {
    width: 200px;
    height: 60px;
    margin-left: 480px;
}
.social svg {
    margin: auto;
    margin-left: 17px;
    margin-top: 12px;
}
.socialtext p {
    color: #E6E8FA;
    padding-top: 20px;
    margin-right: 150px;
}






@media(max-width: 1050px){
    .menulink{
        display: none;
    }
    .btnGet{
        display: none;
    }
    .hide{
        display: block;
    }
    .showMenu{
        display: block;
    }
}
