/* DEFAULT STYLING */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
button {
    cursor: pointer;
    border-radius: 12px;
}
input {
    outline: none;
    border-color: inherit;
}
@font-face {
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf');
}
.content {
    padding-top: 35px;
    margin-left: 10px;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
}

/* NAVBAR STYLING */
.lcircle {
    width: 550px;
    height: 550px;
    left: -181px;
    top: 166.84px;
    border-radius: 50%;
    position: absolute;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.mcircle {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 294.55px;
    top: 455.53px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.scircle {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 404.64px;
    top: 483.55px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: 2;
}
.lcircle1 {
    clip-path: circle(50% at 100% 52%);
    position: absolute;
    width: 459px;
    height: 455px;
    right: 0%;
    top: 700.56px;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    z-index: -1;
    opacity: 0.5;
}
.mcircle1 {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 1000.22px;
    top: 962.68px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;

}
.scircle1 {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 950.43px;
    top: 984.82px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.navbar {
    width: 26.8%;
    height: 1000px;
}
.menulink {
    width: 216px;
    height: 100vh;
    color: #E6E8FA;
    background-color: #2B2D3C;
    margin-left: 130px;
    position: fixed;
}
.logo {
    text-align: center;
}
.logo img {
    margin-top: 10px;
}
.menulink .up {
    margin-top: 30px;
    margin-bottom: 200px;
}
.menulink ul li {
    text-align: right;
    list-style: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menulink ul li:hover {
    background-color: #e6e8fa;
    color: black;
}
.menulink ul li .active {
    background: #E6E8FA;
    color: black;
    padding: 20px 54px 20px 54px;

}
.menulink ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menulink ul li a:hover {
    background-color: #e6e8fa;
    color: black;
}
.up img, .down img {
    text-align: left;
    margin-right: 20px;
}

/* EMPTYBAR STYLE */
.body{
    width: 73.2%;
    margin-left: 20px;
}
.bar{
    width: 98%;
    margin-left: 2%;
    height: 131px;
    font-size: 30px;
    background-image: url('../images/homeImg/Banner.png');
   
}
.bar h3{
    padding-top: 50px;
    padding-left: 20px;
    color: #E6E8FA;
}

/* *general info style* */
.general{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    background: rgba(230, 232, 250, 0.7);
}
#text h4{
    padding-bottom: 40px;
    font-size: 30px;
    color: #2B2D3C;
   
}
#text img{
    padding-left: 20px;
}
#text p {
    color:  #2B2D3C;
    padding-bottom: 20px;
}
.form1{
    padding-top: 40px;
}
.form1 input{
  display: block;  
  width: 259px;
  height: 38px;
  padding-left: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  outline: none;
  color:  #2B2D3C;
  border: 0.5px solid #000000;
  background: rgba(230, 232, 250, 0.7);
}

/* *account info* */
    .account{
        margin-top: 50px;
    }
    .form2{
    padding-top: 40px;
    padding-bottom: 50px;
    }
    .form2 input{
        display: block;  
        width: 259px;
        height: 38px;
        padding-left: 10px;
        margin-bottom: 40px;
        border-radius: 5px;
        outline: none;
        color:  #2B2D3C;
        border: 0.5px solid #000000;
        background: rgba(230, 232, 250, 0.7);
      }

    /* *button* */
    .btn,.btn1{
        display: flex;
    }
    .btneye,.btneye1{
       width: 50px; 
       height: 38px;
       border: 0.5px solid #000000;
       border-left: none;
       border-radius: 5px;
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px;
       outline: none;
       background: rgba(230, 232, 250, 0.7);
    }
    .btn .input,.btn1 .input1 {
        width: 209px;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }










@media (max-width: 1100px){
    .menulink {
        margin-left: 0px;
    }
    .container {
        margin: 0px;
        width: 100%;
    }
    .input {
        margin-right: 0px;
    }  .sinput {
        margin-right: 150px;
    }
    
    .pimg {
        margin-right: 25px;
    }
}
@media (max-width: 1000px){
      .input {
        margin-right: 0px;
    }
    .sinput {
        margin-right: 50px;
    }
    .pimg {
        margin-right: 5px;
    }
    .livetech {
        display: block;
    }
    .techbox {
        width: 250px;
        margin: auto;
    }
    .seem {
        margin-top: 15px;
        text-align: center;
    }
    .contbio {
        display: block;
    }
    .verify {
        margin: auto;
        margin-top: 20px;
    }
    .lcircle,
    .mcircle,
    .scircle,
    .lcircle1,
    .mcircle1,
    .scircle1 {
        display: none;
    }
}
@media (max-width: 720px){
    .menulink ul li .active {
        background: #E6E8FA;
        color: black;
        padding: 22px 31px 20px 32px;
    
    }
    .input {
        width: auto;
        margin-right: 0px;
    }
    .sinput {
        margin-right: 10px;
    }
    .menulink {
        width: 100px;
    }
    .linkbtn {
        width: 100px;
    }
    .sidetext {
        display: none;
    }
    .bio {
        display: block;
        width: auto;
        height: auto;
    }
    .bioimg {
        margin: auto;
        margin-top: 20px;
    }
    .bioedt {
        margin: auto;
        margin-right: 25px;
    }
    .menulink {
        margin-left: 0px;
    }
    .navtex {
        display: none;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
  
}
@media(max-width:550px) {
    .bar h3 {
        font-size: 20px;
    }
    .body {
        width: 80%;
        margin-left: 0%;
    }
    #text h4 {
        font-size: 20px;
    }
    #text p {
        font-size: 14px;
    }
    .form1 input, .form2 input {
        width: auto;
    }
    .btn1 input {
        width: auto;
    }
    .form2 .file, .form1 .file {
        width: 200px;
    }
}