/* DEFAULT STYLING */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
button {
    cursor: pointer;
    border-radius: 12px;
}
input {
    outline: none;
    border-color: inherit;
}
@font-face {
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf');
}
.content {
    padding-top: 35px;
    margin-left: 10px;
    border: solid pink;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    /* border: solid red; */
}
.navbar {
    width: 26.8%;
}
.body {
    width: 73.2%;
}

/* NAVBAR STYLING */
.lcircle {
    width: 550px;
    height: 550px;
    left: -181px;
    top: 166.84px;
    border-radius: 50%;
    position: absolute;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.mcircle {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 294.55px;
    top: 455.53px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.scircle {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 404.64px;
    top: 483.55px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: 2;
}
.lcircle1 {
    clip-path: circle(50% at 100% 73%);
    position: absolute;
    width: 459px;
    height: 455px;
    left: 814.02px;
    top: 700.56px;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    z-index: -1;
    opacity: 0.5;
}
.mcircle1 {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 1000.22px;
    top: 962.68px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;

}
.navbar {
    /* width: 250px; */
    height: 1000px;
    /* border: solid yellow; */
}
.menulink {
    width: 216px;
    height: 100vh;
    background-color: #2b2d3c;
    margin-left: 130px;
    /* border-radius: 12px; */
    position: fixed;
}
.logo {
    text-align: center;
}
.logo img {
    margin-top: 10px;
}
.menulink .up {
    margin-top: 30px;
    margin-bottom: 200px;
}
.menulink ul li {
    text-align: right;
    list-style: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 216px;
    /* border: solid red; */
}
.menulink ul li:hover {
    background-color: #e6e8fa;
    color: black;
}
li .active {
    background-color: #e6e8fa;
    color: black;
}
.link .active {
    color: black;
    background-color: #e6e8fa;
}
.menulink ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menulink ul li .active {
    background: #E6E8FA;
    color: black;
    padding: 20px 63.5px 20px 63.5px;
}
.menulink ul li a:hover {
    background-color: #e6e8fa;
    color: black;
}
.up img, .down img {
    text-align: left;
    margin-right: 20px;
}

/* EMPTYBAR STYLE */
.body{
    margin-left: 30px;
}
.bar{
    width: 910px;

    height: 279px;
    background: rgba(43, 45, 60, 0.3);

    height: 159px;
    background: rgba(0, 0, 0, 0.5);

    /* margin-left: 346px; */
    /* border: solid blue 3px; */
}
.alertIcon{
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
}
.alertpara{
    text-align: center;
    margin-top: 100px;
    /* margin-left: 100px; */

}

.Nbar{
    background-image: url(../images/dashboard.png);
}

.faint{
    width: 100%;
    height: 159px;
    background-color: rgba(0, 0, 0, 0.5);
}

.flex{
    display: flex;
    padding-top: 20px;
}

.search_bar{
    height: 44px;
    width: 350px;
    position: relative;
    right: -160px;
    top: 40px;
    border-radius: 10px;
}

.letter{
    margin-left: 370px;
    margin-top: 35px;
    color: #fff;
}

.small-img{
    position: absolute;
    float: right;
    margin-top: 20px;
    margin-left: 316px;
}









@media (max-width: 1100px){
    body {
        /* background-color: red; */
    }
    .container {
        margin: 0px;
        width: 100%;
    }
    .input {
        margin-right: 0px;
    }  .sinput {
        margin-right: 150px;
    }
    
    .pimg {
        margin-right: 25px;
    }
    .bar {
        width: 700px;
    }
    .lcircle, .mcircle, .scircle {
        display: none;
    }
    .lcircle1, .mcircle1, .scircle1 {
        display: none;
    }
}
@media (max-width: 1000px){
    body {
        /* background-color: green; */
    }
      .input {
        margin-right: 0px;
    }
    .sinput {
        margin-right: 50px;
    }
    .pimg {
        margin-right: 5px;
    }
    .livetech {
        display: block;
    }
    .techbox {
        width: 250px;
        margin: auto;
    }
    .seem {
        margin-top: 15px;
        text-align: center;
    }
    .contbio {
        display: block;
    }
    .verify {
        margin: auto;
        margin-top: 20px;
    }
    .bar {
        width: 600px;
    }
    .menulink {
        margin-left: 140px;
    }

}
@media (max-width: 720px){
    body {
        /* background-color: yellow; */
    }
    .input {
        width: 200px;
        margin-right: 0px;
    }
    .sinput {
        margin-right: 10px;
    }
    .menulink {
        width: 100px;
    }
    .linkbtn {
        width: 100px;
    }
    .sidetext {
        display: none;
    }
    .bio {
        display: block;
        width: auto;
        height: auto;
    }
    .bioimg {
        margin: auto;
        margin-top: 20px;
    }
    .bioedt {
        margin: auto;
        margin-right: 25px;
    }
    .bar {
        width: 360px;
    }
    .body {
        margin-left: -40px;
    }
    .menulink {
        margin-left: 0px;
    }
    .navtex {
        display: none;
    }
    
    .menulink ul li .active {
        background: #E6E8FA;
        color: black;
        padding: 22px 31px 20px 32px;
    
    }
    .lcircle, .lcircle1,
    .mcircle, .mcircle1,
    .scircle, .scircle1 {
        display: none;
    }
  
}


@media(max-width:500px){
    .search_bar {
        left: 50px;
        width: 150px;
    }
    .letter {
        margin-left: 70px;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    .alertpara {
        font-size: 13px;
    }

}