*{
    padding: 0px;
    margin: 0px;
}

/* logo css */
#logo{
    width:356px ;
    height: 86.05px;
    margin: auto;
    /* width: 50%; */
   
}
#logo img{
    width: 100%;
    height: 100%;
}

/* logo css ends */

#image{
    background-color: darkblue;
}
#form{
    display: flex;
}
#signup{
    width: 40%;
    /* height: 200px; */
    border: solid;
    padding-top: 20px;
    text-align: center;
}
#image{
    width: 40%;
    /* height: 200px; */
    border: solid;
}
#header p{
    padding-top: 10px;
}
.signup-details input{
    display: block;
    margin: auto;
    width: 350px;
    height: 30px;
   margin-bottom: 50px;
}
#btn1{
    width: 350px;
    height: 30px;
    background-color: black;
    color: white;
}
#checkbox{
    padding-top: 30px;
}
#end{
    padding-top: 20px;
}



/* END OF SIGNUP CSS */

#login-details input{
    display: block;
    margin: auto;
    width: 350px;
    height: 30px;
   margin-bottom: 50px
}
#btn2{
    width: 350px;
    height: 30px;
    background-color: black;
    color: white;

}
.login{
    display: none;
}

       


