/* DEFAULT STYLING */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: edmerge;
}
button {
    cursor: pointer;
}
input {
    outline: none;
    border-color: inherit;
}
@font-face {
    font-family: edmerge;
    src: url('../montserrat/Montserrat-Regular.ttf');
}
.content {
    margin-left: 366px;
    width: 910px;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
}
.navbar {
    width: 26.8%;
}

/* NAVBAR STYLING */
.lcircle {
    width: 550px;
    height: 550px;
    left: -181px;
    top: 166.84px;
    border-radius: 50%;
    position: absolute;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.mcircle {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 294.55px;
    top: 455.53px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.scircle {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 404.64px;
    top: 483.55px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: 2;
}
.lcircle1 {
    clip-path: circle(46.6% at 98% 51%);
    position: absolute;
    width: 459px;
    height: 455px;
    right: 0%;
    top: 1000.56px;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    z-index: -1;
    opacity: 0.5;
    z-index: -1;
}
.mcircle1 {
    position: absolute;
    width: 99px;
    height: 98px;
    left: 1000.22px;
    top: 1262.68px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: -1;

}
.scircle1 {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 950.43px;
    top: 1274.82px;
    border-radius: 50%;
    background: rgba(43, 45, 60, 0.6);
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: -1;
}
.menulink {
    width: 216px;
    height: 100vh;
    background-color: #2b2d3c;
    margin-left: 130px;
    position: fixed;
}
.homedisplay {
    width: 750px;
}
.logo {
    text-align: center;
}
.logo img {
    margin-top: 10px;
}
.menulink .up {
    margin-top: 30px;
    margin-bottom: 180px;
}
.menulink ul li {
    list-style: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menulink ul li .active {
    background: #E6E8FA;
    color: black;
    padding: 22px 63px 20px 63px;

}
.menulink ul li:hover {
    background: #E6E8FA;
    color: black;
}
.menulink ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menulink ul li a:hover {
    background: #E6E8FA;
    color: black;
}
.up img, .down img {
    text-align: left;
    margin-right: 20px;
}
/* TOP NAV STYLING */
.myteam {
    width: 73.2%;
    margin: auto;
}
.topnav {
    display: flex;
    width: 98%;
    margin-left: 2%;
    height: 125px;
    background: url('../images/homeImg/Banner.png');
    margin-top: 0px;
}
.input {
    width: 340px;
    height: 44px;
    border-radius: 12px;
    border-right: none;
    background: #E6E8FA;
    color: white;
    padding: 11px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    margin-right: 230px;
    margin-top: 53px;
    z-index: 2;
}
.sinput {
    width: 35px;
    margin-top: 53px;
    margin-left: 70px;
    border-left: none;
    border-radius: 12px;
    background: #E6E8FA;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    border: none;
    height: 44px;
    z-index: 2;
}
.sinput:hover{
    cursor: pointer;
}
.pimg {
    width: 42px;
    height: 42px;
    background-color: #E6E8FA;
    border-radius: 50%;
    margin-right: 22px;
    margin-top: 53px;
    z-index: 2;
}
.topnav h3 {
    padding-top: 60px;
    color: #E6E8FA;
    z-index: 2;
}
/* BODY FIELD STYLING */
.field {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}
.member {
    margin: auto;
    width: 440px;
    height: 824px;
    margin-right: 30px;
    background-color: #e6e8fa;
    z-index: 2;
}
.member h3 {
    color: #db4437;
    padding: 39px 0px 39px 41px;
    font-size: 16px;
}
.textimg {
    display: flex;
}
.pro {
    display: flex;
}
.name {
    padding-right: 155px;
}
.namej {
    padding-right: 145px;
}

.ellipse {
    margin-left: 41px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.ellipse1 {
    margin-left: 41px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.crown {
    position: relative;
    left: -18px;
}
.member p {
    padding-top: 10px;
}
p .space {
    margin-left: 148px;
    color: #2b2d3c;
    padding-bottom: 10px;
}
p .spaces {
    margin-left: 142px;
}
h3 .add, h3 .del {
    width: 27px;
    height: 23px;
}
.add {
    cursor: pointer;
}
h3 .add {
    margin-left: 120px;
    margin-right: 20px;
}
.inputfield {
    display: flex;
    display: none;
}
.inputfield input {
    width: 150px;
    height: 48px;
    background: #E6E8FA;
    border-radius: 5px;
    outline: none;
    border: solid #2b2d3c 1px;
    margin: 33px;
    padding: 10px;
}
.calrem {
    width: 45%;
    margin: auto;
}
.cal {
    width: 419px;
    height: 459px;
    margin: auto;
    margin-bottom: 32px;
    background-color: #e6e8fa;
}
.cal h3 {
    color: #db4437;
    padding: 14px 0px 0px 38px;
    font-size: 25px;
}
.year, .week {
	color: #DB4437;
	background: #FBBEBE;
	width: 106px;
	height: 26px;
	margin: auto;
	border: 0px;
	cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
.week {
    margin-left: 40px;
}
.month {
	color: #E6E8FA;
	background: #DB4437;
	width: 106px;
	height: 26px;
	margin: auto;
	border: 0px;
	cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.cal img {
    margin-top: 20px;
    margin-left: 30px;
}
/* Reminder section */
.rem {
    width: 419px;
    height: 333px;
    background-color: #e6e8fa;
}
.rem h3 {
    color: #db4437;
    padding: 24px 0px 0px 38px;
}
.bell {
    margin-left: 168px;
    font-size: 25px;
}
.belhead {
    position: relative;
    top: -13px;
    right: 11px;
}
.rem p {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.img {
    margin: 20px 15px 0px 29px;
}
.date {
    font-size: 12px;
    color: #db4437;
    padding-left: 50px;
}
.p {
    color: #db4437;
    font-size: 11px;
}
.post {
    padding: 5px 88px 20px 74px;
}
.date1 {
    font-size: 12px;
    color: #db4437;
    padding-left: 120px;
}

@media (max-width: 1200px){
    .field {
        display: block;
        margin-bottom: 100px;
    }
    .belhead {
        display: none;
    }
    .member {
        margin-bottom: 20px;
        z-index: 1;
        margin: auto;
        margin-bottom: 30px;
    }
    .menulink {
        margin-left: 0px;
    }
    .lcircle, .mcircle, .scircle {
        display: none;
    }
    .input {
        width: 140px;
        margin-right: 70px;

    }
    .mcircle1, .scircle1, .lcircle1 {
        display: none;
    }
    .sinput {
        margin-left: 20px;
    }
    .cal {
        margin-left: 0px;
    }
}

@media (max-width: 850px){
    .menulink {
        margin-left: 0px;
        width: 100px;
        z-index: -1;
    }
    .field {
        width: 90%;
    }
    .topnav {
        width: auto;
        margin-left: 20px;
    }
    .navtex {
        display: none;
    }
    .member {
        margin-left: 00px;
    }
    .calrem {
        width: auto;
    }
    .name {
        padding-right: 83px;
    }
    .namej {
        padding-right: 80px;
    }
    .input {
        width: 120px;
        margin-right: 30px;

    }
    .menulink ul li .active {
        background: #E6E8FA;
        color: black;
        padding: 22px 30px 20px 30px;
    
    }

}
@media(max-width: 550px){
    .logo img {
        width: 50px;
        height: 50px;
    }
    .topnav, .field {
        margin-left: 0px;
    }
    .topnav h3 {
        display: none;
    }
    .member {
        width: 300px;
    }
    .member h3 {
        font-size: 16px;
    }
    .member p {
        font-size: 12px;
        padding-right: 50px;
    }
    .member .add {
        margin-left: 20px;
    }
    p .space {
        margin-left: 55px;
    }
    p .spaces {
        margin-left: 42px;
    }
    .textimg img {
        margin-left: -10px;
    }
    .cal {
        width: 300px;
    }
    .cal img {
        width: 250px;
    }
    .week, .month, .year {
        width: 70px;
    }
    .rem {
        width: 300px;
    }
    .rem .bell {
        margin-left: 70px;
    }
    .menulink {
        position: static;
    }
}
