*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bar{
height: 311px;
width: 1440px;
background-color: #2B2D3C;

}
.circle{
    height: 40px;
    width: 40px;
    clip-path: circle(43.9% at 100% 2%);
    background-color: black;
    margin-top: 500px;
    border: black solid;
}
