*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* This is the styling for main container  */
#maincontainer{
    display: block;
    margin-left: 400px;
    /* border: solid 1px red; */
    height: 500px;
    width: 500px;
    /* text-align: center; */
    padding-top: 100px; 
}

#details{
    text-align: none;
    padding: 20px;
}
#container{
    text-align: center;
}
#details{
    display: block;
   
}
button:hover{
     cursor: pointer;
}
  